.translate-for-b2b {
    h5{
        font-size: 30px;
        padding: 20px 0 20px 20px;
        color: red;
    }
    .tanslate-new-words {
        padding: 20px 0 0 20px;
        min-height: 500px;
        .el-button--primary {
            margin-left: 20px;
        }
        .tanslate-result {
            padding-top: 50px;
            .el-textarea {
                width: 100%;
            }
        }
        .el-textarea {
            width: 500px;
        }
    }

    .download-package {
        padding: 20px 0 0 20px;
        min-height: 500px;
        .el-button--primary {
            margin-left: 20px;
        }
    }
}
